.container {
    background-color: rgba(92, 121, 177, 0.1);
    padding: 1rem;
    border-radius: 12px;
    overflow-x: auto;
    font-family: monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
}
