.item {
    padding: 12px 17px;
    background: #fff;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.title {
    display: flex;
    align-items: center;
    white-space: nowrap;
    max-width: 400px;
    text-overflow: ellipsis;
    overflow: hidden;
    gap: 10px;
}

.lap {
    background: #51cf66;
    border-radius: 50%;
    height: 15px;
    aspect-ratio: 1/1;
}

.lap.errored {
    background: #fa5252 !important;
}

.labels {
    display: flex;
    flex-flow: row wrap;
    gap: 7px;
}

.label {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.7);
    font-size: 13px;
    padding: 7px 12px;
    border-radius: 20px;
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 500;
    text-overflow: ellipsis;
    max-width: 250px;
    background: rgba(92, 121, 177, 0.1);
    transition: .2s all;
}

.images {
    display: flex;
    flex-flow: row wrap;
    gap: 12px;
}

.image {
    background-color: rgba(92, 121, 177, 0.1);
    padding: 10px;
    height: 100px;
    border-radius: 12px;
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 1/1;
}

.headers {
    display: flex;
    flex-flow: row wrap;
    gap: 7px;
}

.headers .label {
    font-weight: 700;
}

.links {
    display: flex;
    flex-flow: row wrap;
    gap: 7px;
}

.links .label:hover {
    background: rgba(92, 121, 177, 0.2);
}