.item {
    padding: 17px 12px;
    border-radius: 15px;
    background: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.links {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
}

.label {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.7);
    font-size: 13px;
    padding: 7px 12px;
    border-radius: 20px;
    text-wrap: nowrap;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 500;
    text-overflow: ellipsis;
    max-width: 250px;
    background: rgba(92, 121, 177, 0.1);
    transition: .2s all;
}

.label:hover {
    background: rgba(92, 121, 177, 0.05);
}